
<h3>新規投稿ページ</h3>
<h3>一覧ページ</h3>
<%= link_to "新規投稿へ", new_tweet_path %>
<%= form_for @tweet do |f| %>
 <div class="field">
    <%= f.label :タイトル %>
    <%= f.text_field :title, :size => 30 %>
  </div>
 <div class="field">
  <%= f.label :詳細 %>
  <%= f.text_field :body, :size => 30 %>
</div>
<div class="field">
    <%= f.label :画像 %>
    <%= f.file_field :image %>
    <br>
    <%= f.label :動画 %>
      <%= f.file_field :video %>
  </div>
<%= f.submit "投稿する" %>
<%= link_to "一覧に戻る", tweets_path %>
<% end %>
