<div class="second-block-mypage">
  <div class="yuzaname2">
    <%= @user.name %>さん
    <br>
    <p>ひとこと: <%= @user.profile %></p>
  </div>

  <% if user_signed_in? && current_user == @user %>
    <div class="hennsyuuroguoutiine">
      <div class="item">
        <%= link_to edit_user_registration_path, class: "btn btn btn-secondary text-white", method: :get do %>
          <i class="fa-solid fa-pen-to-square" style="color: #000000;"></i>
        <% end %>
        <br>
        <p>編集する</p>
      </div>

      <div class="item">
        <%= link_to destroy_user_session_path, class: "btn btn btn-secondary text-white", method: :delete do %>
          <i class="fa-solid fa-door-open" style="color: #8b4513;"></i>
        <% end %>
        <br>
        <p>ログアウト</p>
      </div>

      <div class="item">
        <%= link_to :controller => "users", :action => "iine", class: "btn btn btn-secondary text-white", method: :get do %>
          <i class="fa-solid fa-heart-circle-plus" style="color: #ff00ff;"></i>
        <% end %>
        <br>
        <p>いいね履歴</p>
      </div>

      <div class="item">
        <%= link_to tweets_path, class: "btn btn btn-secondary text-white", method: :get do %>
          <i class="fa-solid fa-rotate-left" style="color: #0000ff;"></i>
        <% end %>
        <br>
        <p>トップページに戻る</p>
      </div>
    </div>
  <% end %>
</div>
